<h2>Por Región</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <button *ngFor="let region of regions" [ngClass]="{
      'btn-primary': region === selectedRegion,
      'btn-outline-primary': region !== selectedRegion
    }" class="btn" (click)="searchByRegion(region)">{{
      region }}</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

    <countries-table [countries]="countries"></countries-table>
  </div>
</div>