<div *ngIf="!countries.length; else table" class="alert alert-warning text-center">
  No hay países para mostrar
</div>

<ng-template #table>
  <table class="table table-hover">

    <thead>
      <tr>
        <th> # </th>
        <th>Bandera</th>
        <th>País</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td> {{ i + 1 }} </td>
        <td>
          <img [src]="country.flags.png" alt="{{ country.name.common }}" class="img-thumbnail" style="width: 50px;">
        </td>
        <td> {{ country.name.common}} </td>
        <td> {{ country.capital }} </td>
        <td> {{ country.population | number }} </td>
        <td>
          <a [routerLink]="['/countries/by', country.cca3]">Ver más</a>
        </td>
    </tbody>

  </table>
</ng-template>